.main{
  height: 800px;
    display: flex;
  justify-content:center;
    align-items: center;

}
.box {
    border: 2px solid silver;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;

}
.box > h2{
    text-align: center;
    margin: 90px 0px 20px 0px;
    font-size: 20px;
}
.box > p{
    color: #504f4f;
    text-align: center;
    margin: 0px 0px 50px 0px;
}
.butt{
    height: 50px;
}

button{
    background: white;
    width: 170px;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    display: block;
}
