.main{
    height: 800px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

}
.box {
    border: 2px solid silver;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    position: relative;


}
.box > h2{
    text-align: center;
    margin: 90px 0px 20px 0px;
    font-size: 20px;
}
.box > p{
    color: #504f4f;
    text-align: center;
    margin: 0px 0px 50px 0px;
}
.butt{
    height: 50px;
}
a{
    text-decoration: none;
}
button{
    background: white;
    width: 170px;
    height: 100%;
}
button:hover{
    background: #16aecb;
    color: white;
    transition: 200ms;
    border: white;
    cursor: pointer;
}
.icon{
    width: 80px;
    height: 80px;
    background: white;
    color: #44aedc;
    font-size: 30px;
    border: 2px solid silver;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
}
