p{
   background: rgb(0, 178, 255);color: #f8d608;}
h1{
    background: rgb(0, 178, 255);color: #f8d608;}
h2{
    background: rgb(246, 230, 60);color: #08f8b0;}
h3 {
     background: rgba(33, 135, 179, 0.55);color: #38382d;}
ul{
    background: rgba(33, 135, 179, 0.55);color: #38382d;}
body{
    background: antiquewhite;}
img{
    width: 200px;
}
.xxx{
    width: 500px;

}