body{
    margin: 0;
}
.silver1{
    height: 100px;
    background: rgba(119, 134, 144, 0.55);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.silver2{
    height: 150px;
    background: rgba(119, 134, 144, 0.55);
}
.blue{
    height: 600px;
    background: #0f3e5f;
}
.litle-boxes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
}
.box{
    width: 200px;
    height: 200px;
    background: mediumpurple;
    margin: 0px 10px;
    border-radius: 15px;
}
i{
    margin: 0px 10px;
    color: mediumpurple;
    font-size: 30px;
}
.icons{
    margin-right: 50px;
}
.block{
    height: 50px;
    width: 150px;
    background: #0f3e5f;
    border-radius: 10px;
    margin-left: 100px;

}